# misc
.DS_Store
*.pem

# dependencies
node_modules
.pnp
.pnp.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# ide
.idea/
.vscode*/

# typescript
*.tsbuildinfo

# rollup
.rollup.cache

# build output
build
dist
